*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    color: white;
    background-image: url(./biomas/No_mundo/imagem\ principal.png);  
    color: white;
    backdrop-filter: brightness(60%);
    background-position: top center;
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    font-size: 1rem; 

    background-color: #141917;
 
   

}


header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    top: 0;
    transform-origin: top left;
}

header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 2rem; 
}

header a {
    padding: 1.5rem;
    margin-left: 1rem;
}

header ul {
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 10%;
    right: 0.3rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    z-index: 1000;
    width: auto;
    transition: opacity 0.3s ease;
    opacity: 0;
}

header ul.show {
    display: block;
    opacity: 1;
}

header ul li {
    margin: 1.2rem 0;
    white-space: nowrap;
}

header ul li a {
    text-decoration: none;
    color: #AFACA9;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 1.2rem;
}

button{
    background: none;
    border: none;
    display: inline-block;
    padding: 2.5rem;
    margin-top: 2rem;
    
}


   


.home {
    text-align: center;
    max-width: 100%;
    margin-top: 3vh; /* Distância do topo */
    display: flex;
    flex-direction: column;
    gap: 4.3rem;

}

.home h1 {

    font-size: 5rem;
    padding-bottom: 2.2rem;
    font-family: "Open Sans", sans-serif;

}

.home p {
    font-size: 2.3rem;
}

.img_home img {
    width: 6.375rem;
    height: 6.43rem;

}

.floresta_tropical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
    padding: 0;         
    gap: 4rem; 

}

.floresta_tropical1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-left: 5rem;
}

.floresta_tropical h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.floresta_tropical p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.floresta_tropical img {
    width: 58.06rem;
    height: 30rem;    
    object-fit: cover;
    border-radius: 15rem 0 0 15rem; /* arredondado só do lado esquerdo */
}

.barra {
    padding-top: 7rem;
    padding-left: 23rem;
    margin: 2rem auto;
}

.savana {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0;          /* tira o recuo lateral */
    gap: 4rem;   
}

.savana1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-right: 5rem;
}

.savana img {
    width: 58.06rem;
    height: 30rem;  
}

.savana h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.savana p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.deserto {
    margin-top: -1rem;
    margin-bottom: 10.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0;          /* tira o recuo lateral */
    gap: 4rem; 
}

.deserto1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-left: 5rem;
}

.deserto h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.deserto p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.deserto img {
    width: 58.06rem;
    height: 30rem; 
}

.floresta_temperada {
    padding-left: 48.8rem;
    margin-top: -5.45rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0;          /* tira o recuo lateral */
    gap: 4rem;   
}

.floresta_temperada1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-right: 5rem;
}

.floresta_temperada img {
    width: 58.06rem;
    height: 30rem; 
}

.floresta_temperada h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.floresta_temperada p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.pradaria {
    margin-top: 31rem;
    margin-left: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0;          /* tira o recuo lateral */
    gap: 4rem; 

}

.pradaria1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-left: 5rem;
}

.pradaria h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.pradaria p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.pradaria img {
    width: 58.06rem;
    height: 30rem;  
}

.tundra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0;          /* tira o recuo lateral */
    gap: 4rem;   
    padding-bottom: 5rem;
}

.tundra1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-right: 5rem;
}

.tundra img {
    width: 58.06rem;
    height: 30rem;  
}

.tundra h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.tundra p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.taiga {
    margin-top: 31rem;
    margin-left: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0;          /* tira o recuo lateral */
    gap: 4rem; 
}

.taiga1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* garante alinhamento do texto à esquerda */
    margin-left: 5rem;
}

.taiga h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.taiga p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.taiga img{
    width: 58.06rem;
    height: 30rem;  
}

.fundo_pag {
    padding-top: 5rem;
}

.divisao img {
    
    width: 100%;
}

.fundo_pag h1 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    padding-top: 2rem;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 29rem;


}

.fundo_pag a {
    color: inherit;      
    text-decoration: none; 

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 2rem;
}

.ct {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.setinha {
    margin-top: 8rem;
    display: flex;
    justify-content: right;
}

.cbb {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
    margin-left: 35rem;
    margin-right: 40rem;
   
}

.cic {
    margin-left: 42rem;
    margin-right: 13rem;
}
