*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../Ciclos\ Bioquimicos/fundo_nitrogenio.png);
    backdrop-filter: brightness(40%);
    height: 180vh;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #292525;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    top: 0;
    transform-origin: top left;
}

header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 2rem; 
}

header a {
    padding: 1.5rem;
    margin-left: 1rem;
}

header ul {
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 10%;
    right: 0.3rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    z-index: 1000;
    width: auto;
    transition: opacity 0.3s ease;
    opacity: 0;
}

header ul.show {
    display: block;
    opacity: 1;
}

header ul li {
    margin: 1.2rem 0;
    white-space: nowrap;
}

header ul li a {
    text-decoration: none;
    color: #AFACA9;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 1.2rem;
}


.seta{
    margin-left: 4rem;
    margin-top: 1.5rem;
}

.inicio-pagina{
    display: flex;
    justify-content: center;

    h1{
        color: #FFFFFF;
        font-family: "Bree Serif", serif;
        font-weight: 100;
        font-size: 9rem;
        margin-left: 8rem;
        margin-bottom: 9rem;
        margin-top: 5rem;

    }

    p{
        color: #FFFFFF;
        font-family: "Bree Serif", serif;
        font-size: 4rem;
        margin-left: 4rem;
        line-height: 1;
    }

    img{
        margin-right: 8rem;
        height: 40rem;
        filter: brightness(80%);
    }
}


.circulamento{
    display: flex;
    justify-content: center;
    gap: 3.5rem;


    img{
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 60rem;
        filter: brightness(80%);
        border-radius: 5rem;
    }
}

.etapas{
    color: #FFFFFF;

    h2{
        font-family: "Metrophobic", sans-serif;
        font-size: 5.5rem;
        font-weight: 80;
    }

    p{
        font-family: "Merriweather", serif;
        font-size: 2rem;
        font-weight: 100;
        margin-left: 2.5rem;
    }
}

.primeiro, .segundo, .terceiro, .quarto{
    background: rgba(119, 115, 115, 0.5);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 48rem;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    
}

.primeiro{
    margin-top: 3rem;
}


.funcionamento{
    color: #FFFFFF;

    h3{ 
        text-align: center;
        font-family: "Bree Serif", serif;
        font-size: 5rem;
        font-weight: 100;
        margin-top: 5.5rem;
    }

    h2{
        font-family: "Metrophobic", sans-serif; /*numero*/
        font-size: 5rem;
        font-weight: 80;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    p{
        font-family: "Merriweather", serif;
        font-size: 2rem;
        line-height: 2;
    }
}

.quadrados{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-inline: 2rem;
}

.primeira, .segunda, .terceira, .quarta{
   background-color: rgba(0, 0, 0, 0.2);
   height: 40rem;
   width: 28rem;
   text-align: center;
   border-radius: 3rem;
   padding: 1rem;
}

.icones{
    width: 15rem;
}

.seta_proximo{
    margin-bottom: 2rem;
    cursor: pointer;
}
