*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 0.5rem 1.4rem;
    border-radius: 2rem;
    transition: 0.3s;
    margin-left: 100rem;
    position: fixed;  
    bottom: 1.8rem;
}

a:hover {
    background-color: white;
    color: black;
}