*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    max-height: 100vh;
}

div {
    background-image: url(./Assets_jogo/Assets_jogo/Mapa.png);      
    background-position: center;   
    background-repeat: no-repeat;  
    background-size: cover;
    max-width: 1650px;
    margin-inline: auto;
    height: 100vh;
    padding-top: 700px;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
}

.fase1{
    width: 150px;              
    height: 150px;             
    background-color: #6B4A1F; 
    border: 2px solid #3C2B0F; 
    border-radius: 15px;      
    font-size: 60px;           
    color: #3C2B0F;            
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.2s; 
    position: relative;
    top: -520px;
    left: 150px;
    text-decoration: none;
    
}

.fase2{
    width: 150px;              
    height: 150px;             
    background-color: #6B4A1F; 
    border: 2px solid #3C2B0F; 
    border-radius: 15px;      
    font-size: 60px;           
    color: #3C2B0F;            
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.2s; 
    position: relative;
    top: -420px;
    left: 240px;
    text-decoration: none;
    
}

.fase3{
    width: 150px;              
    height: 150px;             
    background-color: #6B4A1F; 
    border: 2px solid #3C2B0F; 
    border-radius: 15px;      
    font-size: 60px;           
    color: #3C2B0F;            
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.2s; 
    position: relative;
    top: -320px;
    left: 400px;
    text-decoration: none;
    
}

.fase4{
    width: 150px;              
    height: 150px;             
    background-color: #6B4A1F; 
    border: 2px solid #3C2B0F; 
    border-radius: 15px;      
    font-size: 60px;           
    color: #3C2B0F;            
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.2s; 
    position: relative;
    top: -780px;
    left: 500px;
    text-decoration: none;
    
}

.fase5{
    width: 150px;              
    height: 150px;             
    background-color: #6B4A1F; 
    border: 2px solid #3C2B0F; 
    border-radius: 15px;      
    font-size: 60px;           
    color: #3C2B0F;            
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.2s; 
    position: relative;
    top: -1180px;
    left: 600px;
    text-decoration: none;
    
}
