* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    background-image: url(./imagem_de_fundo/0368743_view-over-foggy-jungle_photowallpaper__800.jpeg);
    backdrop-filter: brightness(60%);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transform-origin: top left;
}

header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

header a {
    padding: 1.5rem;
    margin-left: 1rem;
}

header ul {
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 10%;
    right: 0.3rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    z-index: 1000;
    width: auto;
    transition: opacity 0.3s ease;
    opacity: 0;
}

header ul.show {
    display: block;
    opacity: 1;
}

header ul li {
    margin: 1.2rem 0;
    white-space: nowrap;
}

header ul li a {
    text-decoration: none;
    color: #AFACA9;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 1.2rem;
}

div {
    padding-left: 11rem;
}

h1 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 9rem;
    padding-top: 13rem;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: none;
    font-size: 2.4rem;
    color: white;
    border-radius: 4.5rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: 0.4rem solid white;
}

/* -------------------------------------------------- */
/*                 CSS ADICIONADO (LOGIN)             */
/* -------------------------------------------------- */

.login-btn {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 0.5rem 1.4rem;
    border-radius: 2rem;
    transition: 0.3s;
}

/* Hover */
.login-btn:hover {
    background-color: white;
    color: black;
}

.logs {
    display: flex;         
    justify-content: space-between;
    justify-content: center;
    gap: 1rem;
    margin-right: 2rem;
}